* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.inter-font {
 font-family: "Inter", sans-serif;
 font-optical-sizing: auto;
}

.container {
 width: 85%;
 max-width: 1600px;
 margin: 0 auto;
}

/* Navbar */
header {
 background: #FFFFFF;
 padding: 16px 0;

}

nav {
 padding-bottom: 16px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

nav ul {
 list-style-type: none;
 display: flex;
 gap: 32px;
}

nav ul a {
 text-decoration: none;
 color: #000000;
 display: flex;
 justify-content: space-between;

}

.btn {
 color: #FFFFFF;
 padding: 12px 16px;
 border-radius: 4px;
 background: #30B868;
 border: none;
 font-size: 16px;
 font-weight: 600;
}

.btn:hover {
 cursor: pointer;
}

nav .logo {
 width: 139px;
 height: 60px;
}

/* Hero-section */

#hero-container {
 background-image: url(./assets/hero-bg.png);
 background-size: cover;
 background-position: center;
 margin: 0 auto;
 height: 674px;

}

.hero-content {
 max-width: 770px;
 padding-top: 115px;
 text-align: center;
 align-items: center;
}

.hero-content .white {
 background-color: #fff;
 color: #469165;
 width: 229px;
 height: 35px;
 padding: 8px 12px;
 border: none;
 border-radius: 50px;
}

.hero-content h1 {
 font-size: 72px;
 font-weight: bold;
 color: #fff;
 padding: 16px 0;
}

.hero-content .highlight {
 color: #30B868;
}

.hero-content .text {
 font-size: 16px;
 line-height: 24px;
 color: #fff;
 padding-bottom: 32px;
}

#note-content {
 margin-top: -11px;
 background-color: #F7F6F2;
}

.content-section .text-content {}