* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

/* Navbar */
header {
  background: #FFFFFF;
  padding: 16px 0;

}

nav {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
}

nav ul a {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: space-between;

}

.btn {
  color: #FFFFFF;
  padding: 12px 16px;
  border-radius: 4px;
  background: #30B868;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
.btn2{
  font-size: 16px;
    font-weight: 600;
    padding: 16px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
}
.btn2:hover{
cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

nav .logo {
  width: 139px;
  height: 60px;
}

/* Hero-section */

#hero-container {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 674px;
  text-align: center;
    justify-content: center;
}

.hero-content{
width: 85%;
  max-width: 770px;
  padding-top: 115px;
  
}


 .hero-content .white{
  background-color: #fff;
  color: #469165;
  width: 229px;
  height: 35px;
  padding: 8px 12px;
  border: none;
  border-radius: 50px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  padding: 16px 0;
}

.hero-content .highlight {
  color: #30B868;
}

.hero-content .text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 32px;
}

#about {
  padding-top: 60px;
}

#about .about-container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
  padding: 0 auto;
}

.section-heading {
  max-width: 1360px;
  text-align: center;
}

.section-heading h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 14px;
}

.section-heading p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 44px;
  color: #627382;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .note-card p {
  font-size: 16px;
  color: #627382;
}

.about-info .note-card h4 {
  font-size: 24px;
  font-weight: ;
  color: #001931;
}

.about-info .note-card img {
  width: 60px;
  height: 60px;
  background: #F95555;
  color: #FFFFFF;
  border-radius: 100%;
  padding: 13px;
}

#about .about-container .about-info .note-card {
  width: 322px;
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.brain-container {
  width: 85%;
  max-width: 1360px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 120px auto;
  gap: 60px;
  justify-content: space-between;
}

.brain-container .brain-image {
  width: 600px;
  height: 600px;
  border-radius: 12px;
}

.brain-container .brain-content .green {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #30B868;
  width: 700px;
}

.brain-container .brain-content h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
margin-bottom: 16px;
  text-align: left;
}

 .brain-container .brain-content p {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
margin-bottom: 40px;
width: 700px;
} 

.brain-container .brain-content .feature{
  align-items: center;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
.brain-container .brain-content .feature img{
  width: 20px;
  height: 20px;
}
.brain-container .brain-content .feature p{
  margin: 0;
  font-size: 16px;
  color: #001932;
}


#ready {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  text-align: center;
}

.ready-container {
  padding: 80px 40px;
}
.ready-container .ready-content h3{
  font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.ready-container .ready-content p{
  font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.ready-container p{
  font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
/* footer-section */
#footer{
margin: 0 auto;
  background: #001931;
    background-size: cover;
      background-position: center;
      margin-top: 120px;
}
#footer .footer-container{
  width: 85%;
  max-width: 1360px;
margin: 0 auto;
display: flex;
padding: 120px 120px 80px;
align-items: center;
justify-content: space-between;
text-align: center;
}
.footer-container .link p{
font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color:#FFFFFF;
  margin-bottom: 16px;
}
.footer-container .link ul li{
display: inline-block;
  margin-right: 13px;
}
.footer-container .link ul li a{
width: 20px;
  height: 20px;
  gap: 16px;
  background: #fff;
  border-radius: 50px;
}

#footer .horigontal hr{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  opacity: 0.2;
}

#footer .horigontal p{
color: #FAFAFA;
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
}